user_uuid="4e342364-afb6-4d95-9464-d6719a543908"
bucket_name="ihl3scg4ajtywu3mv6vo6rjdo05zumpb"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1